.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --hover-color: #2196F3;
  --third-color: #FFFFFF;
  --container-color: #2F303A;
  --background-color: #F5F4FA;
  --icon-color: #afb1b8;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  max-width: 1600px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  width: 145px;
  height: 31px;
  color: var(--main-color);
}

.logo-header--color {
  color: var(--hover-color);
}

.logo-footer {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.logo-footer--color {
  color: var(--hover-color);
}

.modal__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: var(--third-color);
  cursor: pointer;
  width: 200px;
  border-radius: 4px;
  padding: 10px 35px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  display: flex;
  margin: 0 auto;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 15px);
    max-width: 450px;
    min-height: 609px;
    background-color: var(--third-color);
    border: 1px solid #0000001A;
    border-radius: 4px;
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0000001A;
    border-radius: 50%;
    cursor: pointer;
  }
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 40px 40px 12px 40px;
  }
  input {
    padding: 12px 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border;
  }
  textarea {
    resize: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 370px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--secondary-color);
  }
  .modal__form:focus,
  .modal__form:focus + .modal__icon,
  .form__textarea:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
    outline: none;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__icon {
    position: absolute;
    margin-top: 33px;
    margin-left: 10px;
  }
  .form__textarea::placeholder {
    color: #75757580;
  }
  .modal__form-policy-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .modal__form-policy-text::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    margin-right: 8px;
  }
  .modal__form-policy:checked + .modal__form-policy-text::before {
    /* background-color: var(--hover-color); */
    border: 1px solid var(--third-color);
    background-image: url(../images/iconcheck.jpg);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-policy-label {
    margin-left: 55px;
  }
  .form__btn {
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: var(--hover-color);
    color: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #21212133;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    background-color: var(--third-color);
    border: 1px solid #0000001A;
    border-radius: 4px;
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0000001A;
    border-radius: 50%;
    cursor: pointer;
  }
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 40px 40px 12px 40px;
  }
  input {
    padding: 12px 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border;
  }
  textarea {
    resize: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 370px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--secondary-color);
  }
  .modal__form:focus,
  .modal__form:focus + .modal__icon,
  .form__textarea:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
    outline: none;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__icon {
    position: absolute;
    margin-top: 33px;
    margin-left: 10px;
  }
  .form__textarea::placeholder {
    color: #75757580;
  }
  .modal__form-policy-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .modal__form-policy-text::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    margin-right: 8px;
  }
  .modal__form-policy:checked + .modal__form-policy-text::before {
    /* background-color: var(--hover-color); */
    border: 1px solid var(--third-color);
    background-image: url(../images/iconcheck.jpg);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-policy-label {
    margin-left: 55px;
  }
  .form__btn {
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: var(--hover-color);
    color: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #21212133;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--third-color);
    border: 1px solid #0000001A;
    border-radius: 4px;
  }
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0000001A;
    border-radius: 50%;
    cursor: pointer;
  }
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 40px 40px 12px 40px;
  }
  input {
    padding: 12px 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border;
  }
  textarea {
    resize: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 448px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--secondary-color);
  }
  .modal__form:focus,
  .modal__form:focus + .modal__icon,
  .form__textarea:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
    outline: none;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__icon {
    position: absolute;
    margin-top: 33px;
    margin-left: 10px;
  }
  .form__textarea::placeholder {
    color: #75757580;
  }
  .modal__form-policy-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .modal__form-policy-text::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    margin-right: 8px;
  }
  .modal__form-policy:checked + .modal__form-policy-text::before {
    /* background-color: var(--hover-color); */
    border: 1px solid var(--third-color);
    background-image: url(../images/iconcheck.jpg);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-policy-label {
    margin-left: 55px;
  }
  .form__btn {
    height: 50px;
    width: 200px;
    left: 700px;
    top: 712px;
    border-radius: 4px;
    background-color: var(--hover-color);
    color: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #21212133;
    margin: 30px 164px 40px 164px;
    cursor: pointer;
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--third-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-close-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: none;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: var(--third-color);
    fill: var(--hover-color);
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-close-btn:hover, .menu-close-btn:focus {
    color: var(--hover-color);
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
  }
  .menu-mobile {
    margin-top: 48px;
    list-style: none;
  }
  .menu-mobile__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
  }
  .menu-mobile__item:last-child {
    margin-bottom: 250px;
  }
  .menu-mobile__link {
    text-decoration: none;
    color: var(--main-color);
    margin-left: 40px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-mobile__link:hover, .menu-mobile__link:focus {
    color: var(--hover-color);
  }
  .menu-contact {
    margin-bottom: 32px;
    list-style: none;
  }
  .menu-contact__item--phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    margin-bottom: 32px;
  }
  .menu-contact__item--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 64px;
  }
  .menu-contact__link {
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 40px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-contact__link:hover, .menu-contact__link:focus {
    color: var(--hover-color);
  }
  .menu-social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 40px;
    text-decoration: none;
  }
  .menu-social__item {
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
  }
  .menu-social__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu-social__link {
    text-decoration: none;
    color: var(--hover-color);
  }
}

/*@media screen and (min-width:320px) and (max-width:767px) {
    .backdrop-menu {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.2);
        transition-property: opacity;
        transition-duration: 1000ms;
        transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    }
}

@media screen and (min-width:1200px) {
    .backdrop-menu {
        position:fixed;
        top:50px;
        left:50%;
        width:100%;
        height:100%;
        background-color:rgba(0, 0, 0, 0.2);
        transition-property: opacity;
        transition-duration: 1000ms;
        transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    }
}  */
.header .container {
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation {
    display: none;
    height: 60px;
  }
  .nav__list,
  .contact__list {
    display: none;
    align-items: center;
    list-style: none;
    margin-left: auto;
    height: 60px;
  }
  .menu-open {
    display: flex;
    margin-left: auto;
    margin-right: 8px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background: none;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-open:hover,
  .menu-open:focus {
    fill: var(--hover-color);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    display: flex;
  }
  .nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 83px;
  }
  .nav__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__item:not(:last-child) {
    margin-right: 46px;
  }
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
  .current .nav__link::after {
    position: relative;
    top: 20px;
    display: block;
    justify-content: center;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }
  .contact__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    margin-left: auto;
  }
  .contact__logo,
  .contact__logo {
    margin-right: 8px;
  }
  .contact__phone-number,
  .contact__mail,
  .contact__logo {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-color);
    fill: var(--secondary-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__phone-number:hover,
  .contact__phone-number:focus,
  .contact__mail:hover,
  .contact__mail:focus,
  .contact__logo:hover,
  .contact__logo:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
  .menu-open {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navigation,
  .nav__list,
  .contact__list {
    display: flex;
  }
  .nav__item {
    padding-right: 46px;
  }
  .nav__item:active {
    color: var(--hover-color);
  }
  .nav__item {
    padding-right: 46px;
  }
  .nav__item:last-child {
    padding-right: 360px;
  }
  .header .contact__item {
    padding-left: auto;
  }
  .nav__link,
  .contact__mail,
  .contact__phone-number {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    padding-top: 32px;
  }
  .nav__link {
    color: var(--main-color);
  }
  .current .nav__link::after {
    position: relative;
    top: 30px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
    color: var(--hover-color);
  }
  .contact__mail,
  .contact__phone-number {
    color: var(--secondary-color);
  }
  .contact__mail {
    padding-right: 30px;
  }
  .nav__link,
  .contact__mail,
  .contact__phone-number,
  .contact__logo {
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover,
  .nav__link:focus,
  .contact__mail:hover,
  .contact__mail:hover + .contact__logo,
  .contact__mail:focus,
  .contact__phone-number:hover,
  .contact__phone-number:hover + .contact__logo,
  .contact__phone-number:focus,
  .contact__logo:hover,
  .contact__logo:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
  }
  .menu-open {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main__title {
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/backgroundmobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .main__header {
    display: flex;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: var(--third-color);
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 40px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .main__title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/backgroundmobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main__title {
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/backgroundtablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .main__header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: var(--third-color);
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 40px;
    justify-content: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .main__title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/backgroundtablet@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .main__title {
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgroundphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
  .main__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    color: var(--third-color);
    padding-bottom: 40px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main__title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgroundphoto@2x.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .benefits {
    display: flex;
    align-items: center;
  }
  .our-benefits__list {
    display: block;
    justify-content: center;
    list-style: none;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-benefits__item {
    left: 215px;
    top: 774px;
  }
  .our-benefits__item .container {
    background-color: var(--background-color);
    height: 120px;
    width: 450px;
    border-radius: 4px;
    justify-content: center;
    padding: 25px 190px;
  }
  .our-benefits__icon {
    justify-content: center;
  }
  .our-benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
  }
  .our-benefits__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    display: flex;
    align-items: center;
  }
  .our-benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  .our-benefits__item {
    width: 354px;
  }
  .our-benefits__item .container {
    background-color: var(--background-color);
    height: 120px;
    width: 354px;
    border-radius: 4px;
    justify-content: center;
    padding: 25px 142px;
  }
  .our-benefits__icon {
    justify-content: center;
  }
  .our-benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 30px;
  }
  .our-benefits__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 1200px) {
  .benefits .container {
    display: flex;
    align-items: center;
    width: 1200px;
  }
  .our-benefits__list {
    display: flex;
    align-items: center;
    padding-top: 94px;
  }
  .our-benefits__item {
    height: 251px;
    width: 270px;
    left: 215px;
    top: 774px;
    margin-right: 30px;
  }
  .our-benefits__item .container {
    background-color: var(--background-color);
    height: 120px;
    width: 270px;
    border-radius: 4px;
    justify-content: center;
  }
  .our-benefits__icon {
    justify-content: center;
  }
  .our-benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 30px;
  }
  .our-benefits__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do .container {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }
  .what-we-do__list {
    display: flex;
    align-items: center;
  }
  .what-we-do__item {
    padding-bottom: 94px;
  }
  .what-we-do__item {
    padding-right: 30px;
  }
  .what-we-do__title {
    width: 1200px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 94px;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
  }
  .what-we-do__box {
    position: relative;
    overflow: hidden;
    padding-right: 30px;
  }
  .label {
    display: block;
    top: 215px;
    height: 70px;
    width: 360px;
    background: #2F303ACC;
    font-size: 14px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--third-color);
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team {
    background-color: #F5F4FA;
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .our-team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 60px 119px 30px;
  }
  .our-team__card {
    background-color: var(--third-color);
    height: 428px;
    width: 270px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #0000001F;
  }
  .our-team__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
  }
  .our-team__job {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);
  }
  .our-team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 56px;
    padding-right: 10px;
    margin: auto;
  }
  .our-team__social-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: background-color, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-team__social-icon:hover, .our-team__social-icon:focus {
    fill: var(--third-color);
    background-color: var(--hover-color);
  }
  .our-team__social-list-links {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--third-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-team__social-list-links:hover, .our-team__social-list-links:focus {
    fill: var(--third-color);
    background-color: var(--hover-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    background-color: #F5F4FA;
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .our-team__item {
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .our-team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 60px 119px 30px;
  }
  .our-team__card {
    background-color: var(--third-color);
    height: 440px;
    width: 270px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #0000001F;
  }
  .our-team__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
  }
  .our-team__job {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);
  }
  .our-team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 56px;
    padding-right: 10px;
    margin: auto;
  }
  .our-team__social-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: background-color, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-team__social-icon:hover, .our-team__social-icon:focus {
    fill: var(--third-color);
    background-color: var(--hover-color);
  }
  .our-team__social-list-links {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--third-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-team__social-list-links:hover, .our-team__social-list-links:focus {
    fill: var(--third-color);
    background-color: var(--hover-color);
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    background-color: #F5F4FA;
    height: auto;
    max-width: 1600px;
    align-items: center;
    padding-bottom: 60px;
  }
  .our-team__list {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .our-team-item:not(:last-child) {
    padding-right: 30px;
  }
  .our-team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 94px 0px 50px;
  }
  .our-team__card {
    background-color: var(--third-color);
    height: 428px;
    width: 270px;
    left: nullpx;
    top: nullpx;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
  }
  .our-team__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
  }
  .our-team__job {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.188;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-color);
  }
  .our-team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 56px;
    padding-right: 10px;
    margin: auto;
  }
  .our-team__social-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: background-color, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-team__social-icon:hover, .our-team__social-icon:focus {
    fill: var(--third-color);
    background-color: var(--hover-color);
  }
  .our-team__social-list-links {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--third-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-team__social-list-links:hover, .our-team__social-list-links:focus {
    fill: var(--third-color);
    background-color: var(--hover-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients .container {
    display: flex;
  }
  .clients__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .client__box {
    width: 170px;
    height: 92px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  .clients__item {
    position: relative;
    padding: 16px 32px;
  }
  .client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--icon-color);
    width: 170px;
    height: 92px;
    margin-right: 30px;
  }
  .client__link:hover,
  .client__link:hover .clients__icon,
  .client__link:focus .clients__icon:hover,
  .client__link .clients__icon:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
  .client__link:hover,
  .client__link:hover .clients__icon,
  .client__link:focus .clients__icon:hover,
  .clients__icon:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
  .clients__icon {
    fill: var(--icon-color);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__icon:hover, .clients__icon:focus {
    fill: var(--hover-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .container {
    display: flex;
  }
  .clients__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .client__box {
    width: 170px;
    height: 92px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  .clients__item {
    position: relative;
    padding: 16px 32px;
  }
  .client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--icon-color);
    width: 170px;
    height: 92px;
    margin-right: 30px;
  }
  .client__link:hover,
  .client__link:hover .clients__icon,
  .client__link:focus .clients__icon:hover,
  .client__link .clients__icon:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
  .client__link:hover,
  .client__link:hover .clients__icon,
  .client__link:focus .clients__icon:hover,
  .clients__icon:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
  .clients__icon {
    fill: var(--icon-color);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__icon:hover, .clients__icon:focus {
    fill: var(--hover-color);
  }
}

@media screen and (min-width: 1200px) {
  .clients .container {
    display: flex;
    max-width: 1200px;
  }
  .clients__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
  }
  .client__box {
    width: 170px;
    height: 92px;
    margin-right: 30px;
  }
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 94px;
  }
  .clients__item {
    position: relative;
    padding: 16px 32px;
  }
  .client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--icon-color);
    width: 170px;
    height: 92px;
    margin-right: 30px;
  }
  .client__link:hover,
  .client__link:hover .clients__icon,
  .client__link:focus .clients__icon:hover,
  .client__link .clients__icon:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
  .client__link:hover,
  .client__link:hover .clients__icon,
  .client__link:focus .clients__icon:hover,
  .clients__icon:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }
  .clients__icon {
    fill: var(--icon-color);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__icon:hover, .clients__icon:focus {
    fill: var(--hover-color);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    height: 603px;
    background-color: var(--container-color);
    margin-left: auto;
    margin-right: auto;
  }
  .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact {
    display: inline-flex;
    justify-content: center;
    text-align: center;
  }
  .contact__address-footer,
  .contact__mail-footer,
  .contact__phone-number-footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    justify-content: center;
  }
  .contact__address-footer {
    display: inline-flex;
    justify-content: center;
    color: var(--third-color);
    padding-top: 20px;
    margin: 0px;
  }
  .contact__mail-footer {
    padding-bottom: 9px;
  }
  .contact__mail-footer,
  .contact__phone-number-footer {
    color: #FFFFFF99;
  }
  .social {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer__social-links-title {
    color: var(--third-color);
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .footer__social-links-list {
    display: flex;
  }
  .footer__social-links-item {
    background: #FFFFFF1A;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-links-item:hover, .footer__social-links-item:focus {
    background-color: var(--hover-color);
  }
  .footer__social-links {
    display: flex;
    padding: 12px;
  }
  .footer__social-links-icon {
    fill: var(--third-color);
    width: 20px;
    height: 20px;
  }
  .footer__form {
    display: block;
    width: 450px;
  }
  .footer__newsletter {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__newsletter-title {
    color: var(--third-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer__newsletter-input {
    height: 50px;
    width: 358px;
    left: 815px;
    top: 2787px;
    border-radius: 4px;
    border: 1px solid #FFFFFF4D;
    background-color: var(--container-color);
    margin-top: 20px;
    margin-right: 12px;
    color: var(--third-color);
    display: flex;
  }
  .footer__newsletter-btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--hover-color);
    color: var(--third-color);
    padding: 12px 30px 10px 42px;
    cursor: pointer;
    margin-top: 20px;
  }
  .footer__newsletter-btn:hover, .footer__newsletter-btn:focus {
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__newsletter-icon {
    margin-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
    background-color: var(--container-color);
    margin-left: auto;
    margin-right: auto;
  }
  .address {
    display: inline-flex;
    flex-direction: column;
    padding-right: 75px;
    padding-left: 100px;
    text-align: center;
  }
  .contact {
    display: inline-block;
  }
  .contact__address-footer,
  .contact__mail-footer,
  .contact__phone-number-footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    font-style: normal;
  }
  .contact__address-footer {
    display: inline-block;
    color: var(--third-color);
    padding-top: 20px;
    margin: 0px;
  }
  .contact__mail-footer {
    padding-bottom: 9px;
  }
  .contact__mail-footer,
  .contact__phone-number-footer {
    color: #FFFFFF99;
  }
  .social {
    display: inline-flex;
    flex-flow: column;
    width: 206px;
  }
  .footer__social-links-title {
    color: var(--third-color);
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .footer__social-links-list {
    display: flex;
  }
  .footer__social-links-item {
    background: #FFFFFF1A;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-links-item:hover, .footer__social-links-item:focus {
    background-color: var(--hover-color);
  }
  .footer__social-links {
    display: flex;
    padding: 12px;
  }
  .footer__social-links-icon {
    fill: var(--third-color);
    width: 20px;
    height: 20px;
  }
  .footer__form {
    display: block;
    width: 450px;
    padding-top: 60px;
  }
  .footer__newsletter {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .footer__newsletter-title {
    color: var(--third-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer__newsletter-input {
    height: 50px;
    width: 358px;
    left: 815px;
    top: 2787px;
    border-radius: 4px;
    border: 1px solid #FFFFFF4D;
    background-color: var(--container-color);
    margin-top: 20px;
    margin-right: 12px;
    color: var(--third-color);
    display: flex;
  }
  .footer__newsletter-btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--hover-color);
    color: var(--third-color);
    padding: 12px 30px 10px 42px;
    cursor: pointer;
    margin-top: 20px;
  }
  .footer__newsletter-btn:hover, .footer__newsletter-btn:focus {
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__newsletter-icon {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    max-width: 1600px;
    top: 2097px;
    background-color: var(--container-color);
    margin-left: auto;
    margin-right: auto;
  }
  .address {
    display: inline-flex;
    flex-direction: column;
    padding-right: 60px;
  }
  .contact {
    display: inline-block;
  }
  .contact__address-footer,
  .contact__mail-footer,
  .contact__phone-number-footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    font-style: normal;
  }
  .contact__address-footer {
    display: inline-block;
    color: var(--third-color);
    padding-top: 20px;
    margin: 0px;
  }
  .contact__mail-footer {
    padding-bottom: 9px;
  }
  .contact__mail-footer,
  .contact__phone-number-footer {
    color: #FFFFFF99;
  }
  .social {
    display: inline-flex;
    flex-flow: column;
    width: 291px;
    height: 80px;
  }
  .footer__social-links-title {
    color: var(--third-color);
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .footer__social-links-list {
    display: flex;
  }
  .footer__social-links-item {
    background: #FFFFFF1A;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-links-item:hover, .footer__social-links-item:focus {
    background-color: var(--hover-color);
  }
  .footer__social-links {
    display: flex;
    padding: 12px;
  }
  .footer__social-links-icon {
    fill: var(--third-color);
    width: 20px;
    height: 20px;
  }
  .footer__form {
    display: inline-flex;
    width: 370px;
  }
  .footer__newsletter {
    width: 566px;
    display: inline-flex;
  }
  .footer__newsletter-title {
    color: var(--third-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer__newsletter-input {
    height: 50px;
    width: 358px;
    left: 815px;
    top: 2787px;
    border-radius: 4px;
    border: 1px solid #FFFFFF4D;
    background-color: var(--container-color);
    margin-top: 20px;
    margin-right: 12px;
    color: var(--third-color);
    display: flex;
  }
  .footer__newsletter-btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--hover-color);
    color: var(--third-color);
    padding: 12px 30px 10px 42px;
    cursor: pointer;
    margin-top: 36px;
  }
  .footer__newsletter-btn:hover, .footer__newsletter-btn:focus {
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__newsletter-icon {
    margin-left: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio__btn-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .portfolio__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
    background: #F5F4FA;
    height: 38px;
    width: 114px;
    border-radius: 4px;
    border-color: #F5F4FA;
    transition: background-color, color, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__btn:hover, .portfolio__btn:focus {
    background-color: var(--hover-color);
    color: var(--third-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .portfolio__card {
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__card:hover, .portfolio__card:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
  }
  .portfolio__photo {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -2;
  }
  .overlay {
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .overlay__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: white;
    transition: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.556;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--third-color);
    padding: 49px 45px 49px 24px;
    margin: 0 auto;
  }
  .portfolio__item:hover .overlay__description {
    transform: translateY(0);
    background-color: var(--hover-color);
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    padding-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
  }
  .portfolio__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
    padding-left: 24px;
  }
  .portfolio__item {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__btn-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .portfolio__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
    background: #F5F4FA;
    height: 38px;
    width: 114px;
    left: 740px;
    top: 174px;
    border-radius: 4px;
    border-color: #F5F4FA;
    transition: background-color, color, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__btn:hover, .portfolio__btn:focus {
    background-color: var(--hover-color);
    color: var(--third-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .portfolio__card {
    border: 1px solid #EEEEEE;
    height: 404px;
    width: 354px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__card:hover, .portfolio__card:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
  }
  .portfolio__photo {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -2;
  }
  .overlay {
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .overlay__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: white;
    transition: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.556;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--third-color);
    padding: 49px 45px 49px 24px;
    margin: 0 auto;
  }
  .portfolio__item:hover .overlay__description {
    transform: translateY(0);
    background-color: var(--hover-color);
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    padding-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
  }
  .portfolio__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
    padding-left: 24px;
  }
  .portfolio__item {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 34px;
  }
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    height: 1360px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    top: 174px;
    justify-content: space-between;
  }
  .portfolio__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
    background: #F5F4FA;
    height: 38px;
    width: 114px;
    left: 740px;
    top: 174px;
    border-radius: 4px;
    border-color: #F5F4FA;
    transition: background-color, color, box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__btn:hover, .portfolio__btn:focus {
    background-color: var(--hover-color);
    color: var(--third-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .portfolio__card {
    border: 1px solid #EEEEEE;
    height: 404px;
    width: 370px;
    left: 215px;
    top: 696px;
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__card:hover, .portfolio__card:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
  }
  .portfolio__photo {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -2;
  }
  .overlay {
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .overlay__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: white;
    transition: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.556;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--third-color);
    padding: 49px 45px 49px 24px;
    margin: 0 auto;
  }
  .portfolio__item:hover .overlay__description {
    transform: translateY(0);
    background-color: var(--hover-color);
  }
  .portfolio__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    padding-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
  }
  .portfolio__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
    padding-left: 24px;
  }
  .portfolio__item {
    display: flex;
    flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */