.main__title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/backgroundphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 600px;
    max-width: 1600px;
   
}

.main__header {
    display: flex;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--third-color);
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 40px;
}