@media screen and (min-width:320px) and (max-width:767px) {
    .our-team {
            background-color: #F5F4FA;
            margin-top: 60px;
            padding-bottom: 60px;
        }
    
        .our-team__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    
        .our-team__item:not(:last-child) {
            margin-bottom: 30px;
        }
    
        .our-team__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.167;
            letter-spacing: 0.03em;
            text-align: center;
            padding: 60px 119px 30px;
        }
    
        .our-team__card {
            background-color: var(--third-color);
            height: 428px;
            width: 270px;
            border-radius: 4px;
            box-shadow: 0px 1px 3px 0px #0000001F;
        }
    
        .our-team__name {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.188;
            letter-spacing: 0.03em;
            text-align: center;
            padding-top: 30px;
        }
    
        .our-team__job {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.188;
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--secondary-color);
        }
    
        .our-team__social-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 206px;
            height: 56px;
            padding-right: 10px;
            margin: auto;
        }
    
        .our-team__social-icon {
            width: 20px;
            height: 20px;
            fill: var(--icon-color);
            transition: background-color, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--third-color);
                background-color: var(--hover-color);
            }
        }
    
        .our-team__social-list-links {
            display: flex;
            width: 44px;
            height: 44px;
            background-color: var(--third-color);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--third-color);
                background-color: var(--hover-color);
            }
        }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .our-team {
            background-color: #F5F4FA;
            margin-top: 60px;
            padding-bottom: 60px;
        }
    
        .our-team__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    
        .our-team__item {
            padding-right: 30px;
            padding-bottom: 30px;
        }
    
        .our-team__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.167;
            letter-spacing: 0.03em;
            text-align: center;
            padding: 60px 119px 30px;
        }
    
        .our-team__card {
            background-color: var(--third-color);
            height: 440px;
            width: 270px;
            border-radius: 4px;
            box-shadow: 0px 1px 3px 0px #0000001F;
        }
    
        .our-team__name {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.188;
            letter-spacing: 0.03em;
            text-align: center;
            padding-top: 30px;
        }
    
        .our-team__job {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.188;
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--secondary-color);
        }
    
        .our-team__social-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 206px;
            height: 56px;
            padding-right: 10px;
            margin: auto;
        }
    
        .our-team__social-icon {
            width: 20px;
            height: 20px;
            fill: var(--icon-color);
            transition: background-color, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--third-color);
                background-color: var(--hover-color);
            }
        }
    
        .our-team__social-list-links {
            display: flex;
            width: 44px;
            height: 44px;
            background-color: var(--third-color);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--third-color);
                background-color: var(--hover-color);
            }
        }
}

@media screen and (min-width:1200px) {
    .our-team {
            background-color: #F5F4FA;
            height: auto;
            max-width: 1600px;
            align-items: center;
            padding-bottom: 60px;
        }
    
        .our-team__list {
            display: flex;
            align-items: center;
            width: 1200px;
            margin: 0 auto;
        }
    
        .our-team__item:not(:last-child) {
            padding-right: 30px;
        }
    
        .our-team__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.167;
            letter-spacing: 0.03em;
            text-align: center;
            padding: 94px 0px 50px;
        }
    
        .our-team__card {
            background-color: var(--third-color);
            height: 428px;
            width: 270px;
            left: nullpx;
            top: nullpx;
            border-radius: 4px;
            box-shadow: 0px 2px 1px 0px #00000033;
            box-shadow: 0px 1px 1px 0px #00000024;
            box-shadow: 0px 1px 3px 0px #0000001F;
        }
    
        .our-team__name {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.188;
            letter-spacing: 0.03em;
            text-align: center;
            padding-top: 30px;
        }
    
        .our-team__job {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.188;
            letter-spacing: 0.03em;
            text-align: center;
            color: var(--secondary-color);
        }
    
        .our-team__social-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 206px;
            height: 56px;
            padding-right: 10px;
            margin: auto;
        }
    
        .our-team__social-icon {
            width: 20px;
            height: 20px;
            fill: var(--icon-color);
            transition: background-color, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--third-color);
                background-color: var(--hover-color);
            }
        }
    
        .our-team__social-list-links {
            display: flex;
            width: 44px;
            height: 44px;
            background-color: var(--third-color);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: background-color, fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--third-color);
                background-color: var(--hover-color);
            }
        }
}

