.benefits .container {
    display: flex;
    align-items: center;
}

.our-benefits__list {
    display: flex;
    align-items: center;
}

.our-benefits__item {
    height: 251px;
    width: 270px;
    left: 215px;
    top: 774px;
    margin-right: 30px;

    & .container {
    background-color: var(--background-color);
    height: 120px;
    width: 270px;
    left: 215px;
    top: 774px;
    border-radius: 4px;
    justify-content: center;
    }
}

.our-benefits__icon {
    justify-content: center;
}

.our-benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 30px;
}

.our-benefits__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--secondary-color);
}