@media screen and (min-width:320px) and (max-width:767px) {
    .clients .container {
            display: flex;
        }
    
        .clients__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.167;
            letter-spacing: 0.03em;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 50px;
        }
    
        .client__box {
            width: 170px;
            height: 92px;
            margin: 10px;
        }
    
        .clients__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }
    
        .clients__item {
            position: relative;
            padding: 16px 32px;
        }
    
        .client__link {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid var(--icon-color);
            width: 170px;
            height: 92px;
            margin-right: 30px;
    
            &:hover,
            &:hover .clients__icon,
            &:focus .clients__icon:hover,
            .clients__icon:focus {
                border-color: var(--hover-color);
                fill: var(--hover-color);
            }
        }
    
        .client__link:hover,
        .client__link:hover .clients__icon,
        .client__link:focus .clients__icon:hover,
        .clients__icon:focus {
            border-color: var(--hover-color);
            fill: var(--hover-color);
        }
    
        .clients__icon {
            fill: var(--icon-color);
            transition: fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--hover-color);
            }
        }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients .container {
            display: flex;
        }
    
        .clients__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.167;
            letter-spacing: 0.03em;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 50px;
        }
    
        .client__box {
            width: 170px;
            height: 92px;
            margin-right: 30px;
            margin-bottom: 30px;
        }
    
        .clients__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 60px;
        }
    
        .clients__item {
            position: relative;
            padding: 16px 32px;
        }
    
        .client__link {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid var(--icon-color);
            width: 170px;
            height: 92px;
            margin-right: 30px;
    
            &:hover,
            &:hover .clients__icon,
            &:focus .clients__icon:hover,
            .clients__icon:focus {
                border-color: var(--hover-color);
                fill: var(--hover-color);
            }
        }
    
        .client__link:hover,
        .client__link:hover .clients__icon,
        .client__link:focus .clients__icon:hover,
        .clients__icon:focus {
            border-color: var(--hover-color);
            fill: var(--hover-color);
        }
    
        .clients__icon {
            fill: var(--icon-color);
            transition: fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--hover-color);
            }
        }
}

@media screen and (min-width: 1200px) {
    .clients .container {
            display: flex;
            max-width: 1200px;
            justify-content: center;
        }
    
        .clients__title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.167;
            letter-spacing: 0.03em;
            text-align: center;
            padding-top: 94px;
            padding-bottom: 50px;
        }
    
        .client__box {
            width: 170px;
            height: 92px;
            

            &:not(:last-child){
                margin-right: 20px;
            }
        }
    
        .clients__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 94px;
        }
    
        .clients__item {
            position: relative;
            padding: 16px 32px;
        }
    
        .client__link {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid var(--icon-color);
            width: 170px;
            height: 92px;
            margin-right: 30px;
    
            &:hover,
            &:hover .clients__icon,
            &:focus .clients__icon:hover,
            .clients__icon:focus {
                border-color: var(--hover-color);
                fill: var(--hover-color);
            }
        }
    
        .client__link:hover,
        .client__link:hover .clients__icon,
        .client__link:focus .clients__icon:hover,
        .clients__icon:focus {
            border-color: var(--hover-color);
            fill: var(--hover-color);
        }
    
        .clients__icon {
            fill: var(--icon-color);
            transition: fill 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--hover-color);
            }
        }
}
