.logo-header {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    width: 145px;
    height: 31px;
    color: var(--main-color);
    margin-right: 93px;

    &--color {
    color: var(--hover-color);
    }
}



.logo-footer {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: var(--third-color);
    display: inline-block;
    padding-top: 60px;
    
    &--color {
    color: var(--hover-color);
    }
}

