body {
    font-family: var(--main-font);
    color: var(--main-color);
    max-width: 1600px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    padding: 0;
}
img {
    display: block;
  max-width: 100%;
  height: auto;
}

.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}