:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #757575;
    --hover-color: #2196F3;
    --third-color: #FFFFFF;
    --container-color: #2F303A;
    --background-color: #F5F4FA;
    --icon-color: #afb1b8;
}